

<img src="img/pdsp.png">

<h2>The Poop-di-Scoop Experience</h2>
<p>This is an interactive map that details the locations of available avant-garde bathrooms in your closest vincinity

<p>Dont put up with ordinary Sh*t</p>

<div id="map"></div>


{{!-- <ul>
  {{#each places}}
  <li>{{ name }} <div class="ui star rating poop-di-scoop-rating" data-rating="{{rating}}"></div></li>
  
  {{/each}} --}}
{{!-- </ul> --}}
