<html>

<head>
    <img src="img/pdsp.png", style="width:90px;height:90px", align="middle">
</head>

<body>

    <table width="100%" border="0">

        <tr valign="top">
            <td width="20%">
                <div class="ui secondary vertical menu">
                    <a class="active item">
                        Add poop
                    </a>
                    <a class="item">
                        Reviews
                    </a>
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        Sort by
                        <div class="menu">
                            <div class="header"></div>
                            <a class="item">closest</a>
                            <a class="item">most popular</a>
                            <a class="item">most reviews</a>
                        </div>
                    </div>
                </div>
            </td>

            <td bgcolor="#b5dcb3" height="200" width="60%">
                <div id='map'></div>
                <nav id='filter-group' class='filter-group'></nav>
            </td>

        </tr>

        <table>
</body>

</html>