body {
  background-color: white;
  padding: 50px;
}
/* a {
  color: rgb(255, 255, 255);
  font: 14px "Courier New", Courier, monospace;
}

p {
  color: white;
  font: 20px "Courier New", Courier, monospace;
}

h2 {
  color: white;
  font: 20px "Courier New", Courier, monospace;
}
div {
  color: blanchedalmond;
  font: 14px "Courier New", Courier, monospace;
}

title {
  color: blanchedalmond;
  font: 354px "Courier New", Courier, monospace;
}

.colorfont {
  font: white;
} */

#map {
  height: 800px;
  width: 100%;
}


